html {
    scroll-behavior: smooth;
}
  
/* From */
  body .floating-label {
      position: relative;
  }
  .floating-label input:focus~label,
  .floating-label input:not(:placeholder-shown)~label {
      top: -0.75rem;
      left: 0;
      font-size: 0.875rem;
      color: gray;
  }

  .floating-label label {
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      font-size: 1rem;
      color: #aaa;
      pointer-events: none;
      transition: all 0.2s ease-out;
  }

